#======================================
# Files and Directories
#--------------------------------------
build/
dist/
node_modules/
tmp/


#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.bak

#======================================
# Certificates
#--------------------------------------
*.crt
*.csr
*.key

#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
