$translate-amount: 10px;
$rotate-amount: 0deg;

.foo {
    display: flex;
    transform-origin: 0 0;
    color: #fff;
    background: #c00;
    justify-content: center;
    transform: rotate($rotate-amount)
}
