<div id="pagina">
    <div class="barra-menu">
        <!-- Boton Desplegar/Replegar menú -->	<a href="#" id="btn-drop" class="btn-menu aln-centro">Navegacion</a>	
        <!-- Menú de navegación -->
        <ul id="submenu" class="lista-menu aln-centro">
            <li><a 
                [routerLinkActive]="['active']"
                [routerLink]="['home']">Home</a>
            </li>
            <li><a 
                [routerLinkActive]="['active']"
                [routerLink]="['products']">Products</a>
            </li>
            <li><a 
                [routerLinkActive]="['active']"
                [routerLink]="['about']">About</a>
            </li>
            <li><a 
                [routerLinkActive]="['active']"
                [routerLink]="['contacts']">Contacts</a>
            </li>
        </ul>
    </div>
</div>